/* Bordered form */
.form {
    
    color:#010407;
    padding: 10px;
    background-color: rgb(247, 247, 247);
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] ,select{
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #5291a1;
    box-sizing: border-box;
  }
  .text_box{
    width: 100%;
    padding: 12px 20px;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #1f839c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }

  
  /* Center the avatar image inside this container */
  .Headingcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 60%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
    
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  .form_container{
    /* box-shadow: rgba(182, 187, 255, 0.301) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    /* border:1px solid #ccc; */
    background: transparent;
    box-shadow: #ccc 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) ;
    box-shadow: rgba(28, 124, 235, 0.3) 0px 0px 0px 3px;
    color: beige;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 600px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  .tag_status{
    display: flex;
    flex-direction: column;
  }
  .create_container{
    display: flex;
    flex-direction: column-reverse;
  }
  }